* {
    box-sizing: border-box;
}

html,
body {
    min-width: 300px;
    overflow: auto;
}

body {
    font-size: 16px;
    margin: 0;
    text-align: center;
    background-image: url(../images/background-picture-2-mario-ame-qeHOdsPSYvs-unsplash.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0.625rem;
}

a {
    color: white;
    font-size: 17px;
    cursor: pointer;
    
}

a:hover {
    color: red;
}

li {
    list-style: none;
}

a:link {
    text-decoration: none;
}

/* Header Styles */

.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    display: flex;
    justify-content: center;
    max-height: 140px;
    min-width: 240px;
    margin: 25px 14px 15px 40px;
}

/* Navigation Styles */

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 0.9;
}

.navbar-links ul {
    display: inline-flex;
    width: 100%;
    font-weight: 600;
    padding: 0;
}

.navbar-links li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links li a {
    font-size: 21px;
}

.bubble {
    background-color: red;
    padding: 1px 10px;
    width: 12%;
    margin: 58px 60px;
    display: flex;
    justify-content: center;
}

.bubble p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.bubble a:hover {
    color: blue;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: red;
    border-radius: 10px;
}

/* Banner Section */

.banner .content {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 170px 0px 30px 30px;
    margin-bottom: 270px;
}

.banner {
    display: flex;
    flex-direction: column;
}

.content h2 {
    font-size: 62px;
    color: red;
}

.content h3 {
    font-size: 48px;
}

/* Photo Section */

.photos {
    background-color: rgb(65, 63, 63);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
}

.photos img {
    width: 30%;
    height: 400px;
    margin: 15px 20px;
}

#photo-library {
    display: flex;
    flex-direction: column;
}

/* Intro Section */

.intro {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.intro-content p {
    font-size: 20px;
}

.intro-content h2 {
    font-size: 30px;
    color: red;
}

.intro-content {
    padding: 15px;
}

/* Event Section */

#event .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8px;
    background-color: rgb(65, 63, 63);
}

.content li {
    font-size: 17px;
    color: white;
}

.content ol {
    padding: 32px;
}

.content li.message {
    list-style-type: disc;
    color: red;
}

.content li span {
    color: white;
}

li::marker {
    font-size: 18px;
}

.title {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-bottom: 2px solid red;
}

.title h2 {
    font-size: 30px;
    color: red;
    padding-top: 20px;
}

.title h4 {
    font-size: 18px;
    padding-bottom: 20px;
}

/* Footer Section */

.footer-title {
    margin: 10px;
}

.footer-title h3 {
    color: red;
}

.footer-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(65, 63, 63);
}

.footer-content {
    display: flex;
    justify-content: center;
    border-top: 2px solid red;
    flex-direction: column;
}

#contact h4 {
    color: red;
    font-size: 20px;
    padding-top: 25px;
}

#contact {
    width: 34%;
}

#contact ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#contact li {
    padding-bottom: 10px;
}

.social {
    width: 34%;
}

.social h4 {
    color: red;
    font-size: 20px;
    padding-top: 25px;
}

.social ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

i.fa.fa-facebook {
    display: inline-flex;
    color: white;
}

i.fa.fa-instagram {
    color: white;
}

.social p {
    display: inline-flex;
    margin: 0;
    padding: 0px 10px;
}

.social li {
    padding-bottom: 10px;
}

.bubble-content {
    width: 34%;
    display: flex;
    justify-content: center;
}

.bubble-content .bubble {
    width: 40%;
    margin: 40px 10px;
}

.closing {
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
}

.credit {
    padding-left: 20px;
}

/* Mobile Styles */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background-size: auto 920px;
    }

    .photos {
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 430px) {
    body {
        background-size: 590px 1200px;
    }

    .banner {
        align-items: center;
    }

    .banner .content {
        padding: 150px 0px 0px 0px;
    }

    .footer-cta {
        flex-direction: column;
        align-items: center;
    }

    .closing p {
        font-size: 11px;
    }

    .credit {
        padding-right: 10px;
    }
}

@media screen and (max-width: 950px) {
    .toggle-button {
        display: flex;
    }
}

@media screen and (max-width: 380px) {
    body {
        background-size: 545px 1200px;
    }
}

@media screen and (max-width: 1024px) {
    .logo img {
        min-width: 220px;
        margin: 25px 44px 15px 30px;
    }

    .navbar-links li {
        padding-right: 31px;
        width: auto;
    }

    .bubble {
        margin: 64px 30px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        flex-direction: column;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        margin: 20px 0;
        min-width: 250px;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }

    .navbar-links li {
        text-align: center;
        padding: 0;
    }

    .toggle-button {
        display: flex;
        top: 233px;
    }

    .navbar-links li a {
        padding: 5px 10px;
    }

    .navbar-links.active {
        display: flex;
        order: 2;
        border-top: 1px solid red;
    }

    .bubble {
        display: flex;
        justify-content: center;
        padding: 0px;
        margin: 20px 20px;
        width: 150px;
        height: auto;
        align-self: center;
    }

    .bubble-content .bubble {
        width: 55%;
    }

    .banner {
        align-items: center;
    }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
    body {
        background-size: 775px 1100px;
    }
}

@media screen and (min-width: 320px) and (max-width: 880px) {
    .content {
        flex-direction: column;
        align-self: center;
    }

    .photos img {
        width: 90%;
    }
}

@media screen and (min-width: 320px) and (max-width: 700px) {
    .bubble-content .bubble {
        width: 100%;
    }

    #contact {
        width: 100%;
    }

    .social {
        width: 100%;
    }

    .bubble-content {
        width: 50%;
    }
}

@media screen and (max-width: 320px) {
    .closing p {
        font-size: 9px;
    }
}

@media screen and (min-width: 450px) and (max-width: 700px) {
    .bubble-content {
        width: 65%;
    }
}